.App {
  border: 1px solid #000;
  
}

.b-check {
  border: 1px solid #000;
}
.test {
  width: 45%;
  color:#000;
  // height: 200px; //height not working just the width can change. height can inside slider img
}

.test img {
  height: 300px;
}

.reset-caption-test {
  top: 0px;
  left: 0px;
  right: 0px;
}
